# encoding: utf-8

<span class="content-inner">

  <% if page.page_type != 0 %>

      <%= case page.page_type
            when 1 then simple_format('<h1>'+page.title+'</h1>'+page.body)
            when 2 then simple_format('<section class="image-wrapper">'+image_tag(page.image.url(:large))+'</section>')
            else        "NULL"
          end %>
    <% else %>
      <section class="facade-minimal" data-url="/examples/<%= page.html %>">
        <div class="reload-button"></div>
        <iframe data-frameSrc="/examples/<%= page.html %>" frameborder="0" width="100%" height="750"></iframe>
      </section>
    <% end %>

  <div class="content-bottom">
    <span class="left">
      Ben Wunderlich <%= Date.today.strftime('%d.%m.%Y') %>
    </span>
    <span class="right">
       Folie: <%= page.number %>
    </span>
  </div>
</span>