#encoding: utf-8
<ol class="breadcrumb">
  <li><a href="#">Start</a></li>
  <li><a href="#">Kleidung</a></li>
  <li>Supergeiler Schlüpper</li>
</ol>
<div class="row">
  <div class="col-md-5">
    <%= image_tag(@product.image.url(:medium), :class => "img-responsive", :id =>'main-img' ) %>
    <div class="img-loader loder-container" style="display: none;">
      <svg width="300px" height="200px" viewBox="0 0 187.3 93.7" preserveAspectRatio="xMidYMid meet">
        <path style="-webkit-filter:url(#f2)" stroke="#777777" id="outline" fill="none" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
				M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1
				c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z" />
        <path id="outline-bg" opacity="0.05" fill="none" stroke="#777777" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
				M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1
				c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z" />
      </svg>
    </div>
  </div>
  <div class="col-md-7 pull-right addToCart-block">
    <div class="row">
      <div class="col-md-9 col-xs-12">
        <h1><%= @product.name %></h1>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="price">€<span id="main-price"><%= number_with_precision(@product.price, precision: 2) %></span></div>
      </div>
    </div>
    <div class="row review">
      <ul class="pull-left">
        <li class="glyphicon glyphicon-star-empty"></li>
        <li class="glyphicon glyphicon-star-empty"></li>
        <li class="glyphicon glyphicon-star-empty"></li>
        <li class="glyphicon glyphicon-star-empty"></li>
        <li class="glyphicon glyphicon-star-empty"></li>
        <li class="glyphicon glyphicon-star-empty"></li>
      </ul>
      <span class="pull-left">(0 Bewertungen)</span>
    </div>
    <div class="row">
      <div class="col-md-12">
        <blockquote id="shortdesc"><%= simple_format(@product.shortdesc) %>
        </blockquote>

      </div>
    </div>
    <div class="row options">
      <div class="btn-group ">
        <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span id="model-container"><%= @product.hero %></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a data-url="/examples/json/1">Batman</a>
          </li>
          <li>
            <a data-url="/examples/json/2">Superman</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row button-box">
      <div class="col-md-4">
        <input id="cart-quantity" class="cart-quantity" type="number" min="1" value="1" name="quantity">
      </div>
      <div class="col-md-8">
        <button class="btn btn-default addToCart" id="addToCart-button" type="submit" data-prod="1">
          <span>In den Warenkorb</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="page-header">
      <h3>Produktinformationen</h3>
    </div>
    <span id="description" >
   <%= simple_format(@product.description) %>
    </span>
  </div>
  <div class="col-md-6">
    <div class="page-header">
      <h3>Kundenbewertungen</h3>
    </div>
    Noch keine Bewertungen für dieses Produkt.
  </div>
</div>
<div class="row border">
  <div class="page-header">
    <h3>Haben Sie diese Artikel schon gesehen?</h3>
  </div>
  <div class="row">
    <% @thumb.each do |thumb| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag(thumb.image.url(:small)) %>
        <div class="caption">
          <h3><%= thumb.name %></h3>
          <p>
          <div class="price">€<%= number_with_precision(thumb.price, precision: 2) %></div>
          </p>
          <p><a href="#" class="btn btn-default addToCart min" role="button" data-prod="<%= thumb.id %>">In den Warenkorb</a></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<script type="text/javascript" charset="utf-8" src="<%= path_to_javascript 'custom/view'%>"></script>